<aside id="app_sidebar" class="navbar navbar-inverse col-sm-2 pull-left">
    <div id="sidebar_head">
        <h2>
            App Name
        </h2>
    </div>
    <div class="sidebar_body">
        
    </div>
</aside>
