
<div class="component_head">
        <h3>Salones a desocuparse</h3>
    <hr />

</div>
<div class="component_body">
    <div class="container">
        <div class="row">
            <div id="countdown1" class="small">
            </div>
            <div id="countdown2" class="small">
            </div>
            <div id="countdown3" class="small">
            </div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-default pull-right" id="">
                <span class="glyphicon glyphicon-new-window"></span> Ver todos
            </button>
        </div>
        <br />
    </div>
</div>



